@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #222;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: rgb(182, 140, 1);
  background-color: rgb(155, 131, 53);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}


header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10vw;
}

header div h2 {
  font-family: 'Racing Sans One', cursive, sans-serif;
  letter-spacing: 3px;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #222;
  margin-bottom: 30px;
}


.loader2 {
  width: 200px;
  animation: loaderFly 1s infinite alternate;
}

@keyframes loaderFly {
  100% {
    transform: translateY(-10px);
  }
}

.search {
  font-size: 1.4rem;
  border: 2px solid #222;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  width: 200px;
  font-family: 'Racing Sans One', cursive, sans-serif;
  letter-spacing: 1px;
  color: #222;
  text-transform: capitalize;
  text-align: center;
}


.search:focus {
  outline: none;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 5vh 5vw;
}

.movie {
  background-color: rgb(182, 140, 1);
  border: 2px solid rgb(182, 140, 1);
  margin: 1rem;
  width: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  animation: iconSize 1s infinite alternate;
  opacity: 0;
}

@keyframes iconSize {
  100% {
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  header div {
    margin-left: 0vw;
    width: 100vw;
  }

  .loader2 {
    margin-top: 5vh;
    width: 200px;
  }

  header div h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
  }

  .search {
    text-align: center;
    margin: 1rem auto;
  }


  .movie-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 5vh 5vw;
  }

}


.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;

}

.movie-info h3 {
  margin: 0 auto;
  font-family: 'Cantora One', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.votesNumber {
  padding: 10px 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 0 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  font-family: 'Racing Sans One', cursive, sans-serif;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.movie-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #222;
  padding: 1rem;
  transform: translateY(110%);
  transition: 0.3s;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.movie-over h2 {
  color: rgb(182, 140, 1);
}

.movie:hover .movie-over {
  transform: translateY(0);
}

.seeMoreBtn {
  margin: 10vh auto;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: rgb(182, 140, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Racing Sans One', cursive, sans-serif;
  cursor: pointer;
  transition: .3s;
  position: relative;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.seeMoreBtn:hover {
  background: white;
  color: rgb(182, 140, 1);
}

.loader {
  margin: 5vh auto 10vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100%;
}

.loader h2 {
  font-family: 'Racing Sans One', cursive, sans-serif;
  margin-top: -10vh;
  letter-spacing: 2px;
}